<div class="dialog" onclick="window.location.assign('login.hbs')">
     <div class="dialog__avatar">
         <img src="{{ avatar }}" alt="">
     </div>
     <div class="dialog__main">
         <div class="dialog__name">
             {{ name }}
         </div> 
         <div class="dialog__last-msg">
             {{ lastMsg }}
         </div>
     </div>
     <div class="dialog__info">
         <div class="dialog__last-msg-time">
             {{ lastMsgTime }}
         </div>
         <div class="dialog__msg-count">
             <span> {{ msgCount }}</span>
         </div>
     </div>
</div>